.award-div {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
}

.prize-div {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 75px;
    height:75px;
}

.score {
    border: 5px solid red;
    left:-2px;
    top: -2px;
    border-radius: 10px;
}

.award-td {
    width: 80px !important;
    height: 80px !important;
    position: relative;
}

.award-tr {
    line-height: 80px;
}