<div id="container"
     style="background-size: 100%; padding: 10px; height: 1400px; background-image: url('http://img.sillyfan.top/voteBack.jpg?imageslim')">

    <div style="margin-top: 50px; position: relative">
        <div style="height: 200px;">
            <div ng-repeat="player in players2"
                 id="info{{$index}}"
                 ui-sref="info({playerId: player.playerId})"
                 style="background-image: url({{player.portrait}}); background-size: 100% 100%; position: absolute; width: 20.5%; height: 110px; border-radius: 20px; display: inline-block">

                <span class="badge pull-left"
                      style="background-color: orangered; font-size: medium; margin-top: -10px;">
                    {{player.playerId + 1}}
                </span>
                <span>
                <button ng-click="vote(player.playerId, $event)"
                        style="outline: 0;border: 1px gainsboro solid; border-radius: 8px;
                        background: transparent;
                        color: #fff; right: 0; bottom: -25px; height: 25px;
                        position: absolute">
                    <span ng-if="!voted(player.playerId)">投票</span>
                    <span ng-if="voted(player.playerId)">已投票</span>
                </button>
            </span>
            </div>
        </div>

        <img style="width: 100%; margin-top: 20px; background-color: transparent" src="../../public/img/font.png"
             alt="">

        <div style="height: 200px; margin-top: 20px;">
            <div ng-repeat="player in players"
                 id="info2{{$index}}"
                 ui-sref="info({playerId: player.playerId})"
                 style="background-image: url({{player.portrait}}); background-size: 100% 100%; position: absolute; width: 20.5%; height: 110px; border-radius: 20px; background-color: beige; display: inline-block">

                <span class="badge pull-left"
                      style="background-color: orangered; font-size: medium; margin-top: -10px;">
                    {{player.playerId + 1}}
                </span>

                <button ng-click="vote(player.playerId, $event)"
                        style="outline: 0;border: 1px gainsboro solid; border-radius: 8px;
                        background: transparent;
                        color: #fff; right: 0; bottom: -25px; height: 25px;
                        position: absolute">
                    <span ng-if="!voted(player.playerId)">投票</span>
                    <span ng-if="voted(player.playerId)">已投票</span>
                </button>

            </div>
        </div>
    </div>


    <div style="text-align: center">

        <img style="width: 100%" src="../../public/img/prizeFont.png" alt="">

        <div>
            <table style="background-image: url('../../img/border.png'); width: 300px; height: 300px; margin: auto; border-radius: 8px;">
                <tbody style="padding: 12px;">
                <tr class="award-tr">
                    <td class="award-td" style="left: 20px; top: 20px;">
                        <img class="prize-div" src="../../public/img/0.png" alt="">
                        <div class="award-div" ng-class="{'score': prize.score === 0}"></div>
                    </td>
                    <td class="award-td" style="left: 14px; top: 20px;">
                        <img class="prize-div" src="../../public/img/1.png" alt="">
                        <div class="award-div" ng-class="{'score': prize.score === 1}"></div>
                    </td>
                    <td class="award-td" style="left: -6px; top: 20px;">
                        <img class="prize-div" src="../../public/img/2.png" alt="">
                        <div class="award-div" ng-class="{'score': prize.score === 2}"></div>
                    </td>
                </tr>
                <tr class="award-tr">
                    <td class="award-td" style="left: 20px; top: 15px;">
                        <img class="prize-div" src="../../public/img/7.png" alt="">
                        <div class="award-div" ng-class="{'score': prize.score === 7 }"></div>
                    </td>
                    <td class="award-td" style="top: 4px;">
                        <button ng-if="!hasPrized" style="outline: none; border: 0 none; background: transparent"
                                type="button" ng-click="start()">
                            <img width="80px;" src="../../public/img/startPrize.png" alt="">
                        </button>
                        <button ng-if="hasPrized" style="outline: none; border: 0 none; background: transparent"
                                type="button" ng-click="start()">
                            <img width="80px;" src="../../public/img/prized.png" alt="">
                        </button>
                    </td>
                    <td class="award-td" style="left: -6px; top: 15px;">
                        <img class="prize-div" src="../../public/img/3.png" alt="">
                        <div class="award-div" ng-class="{'score': prize.score === 3}"></div>
                    </td>
                </tr>
                <tr class="award-tr">
                    <td class="award-td" style="left: 20px; top: 0;">
                        <img class="prize-div" src="../../public/img/6.png" alt="">
                        <div class="award-div" ng-class="{'score': prize.score === 6}"></div>
                    </td>
                    <td class="award-td" style="left: 14px; top: 0;">
                        <img class="prize-div" src="../../public/img/5.png" alt="">
                        <div class="award-div" ng-class="{'score': prize.score === 5}"></div>
                    </td>
                    <td class="award-td" style="left: -6px; top: 0;">
                        <img class="prize-div" src="../../public/img/4.png" alt="">
                        <div class="award-div" ng-class="{'score': prize.score === 4}"></div>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div style="margin-top: 20px; text-align: center;">
        <span style="font-size: 24px; color: #dcdcdc; font-family: 'Arial';">已有 {{count}} 人参与</span>
    </div>

    <div style="margin: 0 auto; bottom: 0; color: white; width: 270px; border-radius: 8px;">
        <h4>抽奖规则：</h4>
        <p style="padding-left: 10px;">1.投票后才可以进行抽奖</p>
        <p style="padding-left: 10px;">2.每人每天有一次抽奖机会</p>
        <p style="padding-left: 10px;">3.最终解释权归活动方所有</p>
    </div>

</div>