<div style="height: 1500px;">

    <div class="slider-container">
        <div class="slider">
            <div class="slider__item" ng-repeat="img in images">
                <img ng-src="{{img.url}}" alt="">
            </div>
        </div>
    </div>

    <div style="float: right; margin-top: 20px; margin-right: 30px;">
        <span style="font-size: 1.4em;">{{player.name}}</span>

        <audio id="voice" ng-src="{{player.voice}}">
        </audio>

        <span>
            <img ng-if="!playStatus"
                 style="width: 25px; height: auto; cursor: pointer;"
                 src="../../public/img/voice_off.png"
                 ng-click="play()"></img>
            <img ng-if="playStatus"
                 style="width: 25px; height: auto; cursor: pointer;"
                 src="../../public/img/voice_on.png"
                 ng-click="play()"></img>
        </span>

    </div>

    <video style="margin-top: 20px;" controls="controls" width="100%" preload
           poster="{{player.videoCover}}">
        <source src="{{player.video}}" type="video/mp4">
    </video>

    <div style="position: relative; margin-top: 20px;">
        <!--<div style="background: url('../../img/1.png')-->
        <!--no-repeat; opacity: 0.5; width: 100px; height: 100px;  position: absolute; right: 10%;"></div>-->

        <table style="margin: auto; line-height: 30px; position: absolute; width: 80%; left: 10%">
            <tr>
                <td style="width: 60px">名字:</td>
                <td style="width: 200px;">{{player.name}}</td>
            </tr>
            <tr>
                <td style="width: 60px">身高:</td>
                <td style="width: 200px;">{{player.height}} cm</td>
            </tr>
            <tr>
                <td style="width: 60px">球队:</td>
                <td style="width: 200px;">{{teams[player.team].name}}</td>
            </tr>
            <tr>
                <td style="width: 60px">星座:</td>
                <td style="width: 200px;">{{player.constellation}}</td>
            </tr>
            <tr>
                <td style="width: 60px">微博:</td>
                <td style="width: 200px;">
                    <a href="{{player.weiboUrl}}">{{player.weibo}}</a>
                </td>
            </tr>
            <tr>
                <td style="width: 60px">介绍:</td>
                <td style="width: 200px;">{{player.introduce}}</td>
            </tr>
        </table>
    </div>
</div>