<div style="background-color: black; color: white; padding: 10px;">


    <div class="slider-container" style="border-radius: 10px;">
        <div class="slider">
            <div class="slider__item" ng-repeat="img in images">
                <img ng-src="{{img.url}}" alt="">
            </div>
        </div>
    </div>

    <div style="float: right; margin-top: 20px; margin-right: 30px;">
        <span style="font-size: 1.4em;">{{player.name}}</span>
        &nbsp;
        <audio id="voice" ng-src="{{player.voice}}">
        </audio>

        <span>
            <img ng-if="!playStatus"
                 style="width: 25px; height: auto; cursor: pointer;"
                 src="../../public/img/voice_off.png"
                 ng-click="play()"></img>
            <img ng-if="playStatus"
                 style="width: 25px; height: auto; cursor: pointer;"
                 src="../../public/img/voice_on.png"
                 ng-click="play()"></img>
        </span>

    </div>

    <video style="margin-top: 20px; border-radius: 10px;" controls="controls" width="100%" preload
           poster="{{player.videoCover}}">
        <source src="{{player.video}}" type="video/mp4">
    </video>

    <img ng-src="http://img.sillyfan.top/info1/{{player.playerId}}.png?imageslim" style="width: 100%; margin-top: 20px;"
         alt="">
</div>